@model IEnumerable<InsentiveCalculation.Models.StyleUploadModal>
<style type="text/css">
    input{
        background-color:aliceblue;
    }
    img{
        width:100%;
        height:300px;
    }
    #styledir{
        display:none;
    }
</style>
<div id="uploadedImageView">
    <label for="">Upload Front Side</label>
    <input type="file" id="frontsidestyle" accept="image/x-png,image/gif,image/jpeg" class="form-control" />
    <label for="">Upload Back Side</label>
    <input type="file" id="backssidestyle" accept="image/x-png,image/gif,image/jpeg" class="form-control" />
    <br />
</div>
