
@{
    ViewBag.Title = "RequestPermission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div style="text-align:center">
        <br/>
        <h2>YOU DONT HAVE PERMISSION TO THIS MODULE</h2>
        <br/>
        <h2>
           This Module is Only for authorized person only
        </h2>
    </div>


